<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>手机销售数据分析推荐</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
    </script>
</head>
<body class="index">
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="./home.html">手机销售数据分析推荐</a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">{{ uname }}</a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="/login">退出</a></dd>
                <dd>
                    <a href="/changeUserInfo">个人信息</a>
                </dd>
            </dl>
        </li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
                         <ul id="nav">
            <li>
                <a href="/home/1">
                    <i class="iconfont left-nav-li" lay-tips="会员管理">&#xe6b8;</i>
                    <cite>首页</cite>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-table" style="font-size: 19px"></i>
                    <cite>数据表</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a href="/address_t">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>地址表</cite></a>
                    </li>
                    <li>
                        <a href="/price_t">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>价格表</cite></a>
                    </li>
                    <li>
                         <a href="/free_deliVer_t">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>包邮比例表</cite></a>
                    </li>
                    <li>
                            <a href="/buy_len_t">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>付款表</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-picture" style="font-size: 15px">&#xe723;</i><cite>词云图</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a href="/product_p">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品名云图</cite></a>
                    </li>
                    <li>
                        <a href="/name_p">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商家云图</cite></a>
                    </li>
                    <li>
                        <a href="/address_p">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>地址云图</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/table/1/0">
                    <i class="iconfont left-nav-li" lay-tips="城市联动">&#xe723;</i>
                    <cite>数据统计</cite>
                    <i class="iconfont nav_right"></i></a>
            </li>
        <li>
                {% if role == 'admin' %}
                    <a  href="/userList/1/0">
                        <i class="iconfont left-nav-li" lay-tips="城市联动">&#xe723;</i><cite style="margin-left: 5px">用户管理</cite>
                        <i class="iconfont nav_right"></i>
                    </a>
                {% endif %}
            </li>
            <li>
                {% if role == 'user' %}
                    <a  href="/addNotice">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                          <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                        </svg>
                        <cite style="margin-left: 10px">添加日志</cite>
                        <i class="iconfont nav_right"></i>
                    </a>
                {% else %}
                    <a  href="/seeNotice/0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                          <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                        </svg>
                        <cite style="margin-left: 10px">日志管理</cite>
                        <i class="iconfont nav_right"></i>
                    </a>
                {% endif %}
            </li>
            <li>
                <a href="/model">
                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-airplane-engines" viewBox="0 0 16 16">
                      <path d="M8 0c-.787 0-1.292.592-1.572 1.151A4.347 4.347 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272.313.937a.5.5 0 0 0 .948 0l.405-1.214 2.21-.369.375 2.253-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318.375-2.253 2.21.369.405 1.214a.5.5 0 0 0 .948 0l.313-.937 1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0ZM7 3c0-.432.11-.979.322-1.401C7.542 1.159 7.787 1 8 1c.213 0 .458.158.678.599C8.889 2.02 9 2.569 9 3v4a.5.5 0 0 0 .276.447l5.448 2.724a.5.5 0 0 1 .276.447v.792l-5.418-.903a.5.5 0 0 0-.575.41l-.5 3a.5.5 0 0 0 .14.437l.646.646H6.707l.647-.646a.5.5 0 0 0 .14-.436l-.5-3a.5.5 0 0 0-.576-.411L1 11.41v-.792a.5.5 0 0 1 .276-.447l5.448-2.724A.5.5 0 0 0 7 7V3Z"/>
                    </svg>
                    <cite style="margin-left: 8px">商品推荐</cite>
                    <i class="iconfont nav_right"></i></a>
            </li>
        </ul>

    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home">
                <i class="layui-icon">&#xe68e;</i>我的桌面
            </li>
        </ul>
        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd>
            </dl>
        </div>
        <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show" style="overflow: auto">
                {% for i in result %}
                    <div class="layui-card layui-col-md3" >
                      <div class="layui-card-header">{{ i[1] }}</div>
                      <div class="layui-card-body">
                          <img style="width: 100%;height: 400px;object-fit: cover" src="{{ i[4] }}" alt="">
                          <div style="display: flex;justify-content: space-between;font-size: 18px;margin-top: 15px">
                              <span>
                                  $ {{ i[2] }}
                              </span>
                              <span style="color:red">
                                  {% if i[-3] == '1' %}
                                  包邮
                                  {% else %}
                                  不包邮
                                  {% endif %}
                              </span>
                          </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="tab_show"></div>
</div>
</div>
<div class="page-content-bg"></div>
<style id="theme_style"></style>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<script>//百度统计可去掉
var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</body>

</html>

<script src="/static/lib/echarts.js"></script>
<script src="/static/lib/china.js"></script>
<script>


</script>